<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
    <title>twitter簡易版</title>
  </head>
  <body>
    <h1>Twitter 簡易版</h1>
    <%= yield %>
  </body>
</html>